<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printando informações com Vue!</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>
    
</head>
<body>
    <h1>App</h1>
    
    <div id="app">
        
        <form id="formApp">
            <input type="text" v-model="input_name" placeholder="Digite seu nome:">
            <input type="text" v-model="input_tech" placeholder="Digite sua tecnologia:">
            <input type="submit" value="Enviar" v-on:click="formSubmit">
        </form>

        <p>Meu nome é {{ name }} e foi utilizado a tecnologia: {{ tech }}.</p>



    </div>
</body>
</html>